<!DOCTYPE html>
<html>
  <head>
    <style>

      #imagen{
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      h1{
        font: 250% serif;
        color: #A77FCC;
        text-align: center;
      }
      #table{
        margin: auto;
        border-spacing: 150px 5px;
      }
      div{
        font: 150% serif;
        color: #918F8F;
        text-align: center;
      }
      td{
        font: 120% serif;
        color: #A77FCC;
      }

    </style>
  </head>
  <body>
    <br>
    <img src="https://homie.mx/assets/logos2.0/homie-rosa-200px-24e4f0a3f52e14656a3bcbb02790c0fb3b713206f58ff70538bae5638d8b7be8.png" id="imagen" width="100" height="50"/>
    <h1>Hola Macarena</h1>
    <div>Tu nuevo inquilino <b>Nombre Apellido</b> hizo</br>el primer pago correspondiente a:
    </div><br>

    <table id="table">
      <tbody>
        <tr>
          <td>Renta mensual</td>
          <td>$22,000.00</td>
        </tr>
        <tr>
          <td>Deposito de garantía</td>
          <td>$22,000.00</td>
        </tr>
        <tr>
          <td>Poliza Jurídica</td>
          <td>$11,458.00</td>
        </tr>
      </tbody>
    </table>

  </body>
</html>
